<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/kiosk.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5lever %logger{36} - %msg%n</pattern>
        </encoder>
        <!--encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.log4j.XMLLayout">
                <locationInfo>true</locationInfo>
            </layout>
        </encoder!-->
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5lever %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>